/* 自定义字体 */
@font-face {
  font-family: "MaoKenWangXingYuan";
  font-display: swap;
  src: url("/ttf/MaoKenWangXingYuan-2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MaoKenWangXingYuan", sans-serif;
}